@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); // font config import

// font family
$font-stack: 'Raleway', sans-serif;

// colors
$nav-container-bg: rgb(12, 10, 10);

// bg image for header
$hero-img: '../images/hero.jpg';
